<a href="https://colab.research.google.com/github/thiagotandrade/ds_project/blob/master/DS_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Competição do Kaggle: [Zillow Prize](https://www.kaggle.com/c/zillow-prize-1)

# Initial Setup

In [0]:
import os
import warnings
import xgboost

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, ShuffleSplit, train_test_split
from sklearn.metrics import make_scorer, mean_absolute_error, r2_score

%matplotlib inline
warnings.filterwarnings("ignore")

In [0]:
props = pd.read_csv('https://raw.githubusercontent.com/thiagotandrade/ds_project/master/Database/merged_2016v2.csv',
                             header=0, sep=',', quotechar='"')

In [0]:
props.head()

   parcelid  airconditioningtypeid  ...  logerror  transactiondate
0  17073783                    NaN  ...    0.0953       2016-01-27
1  17088994                    NaN  ...    0.0198       2016-03-30
2  17100444                    NaN  ...    0.0060       2016-05-27
3  17102429                    NaN  ...   -0.0566       2016-06-07
4  17109604                    NaN  ...    0.0573       2016-08-08

[5 rows x 60 columns]

# Definição de tipos

In [0]:
props['transactiondate'].head()

0    2016-01-27
1    2016-03-30
2    2016-05-27
3    2016-06-07
4    2016-08-08
Name: transactiondate, dtype: object

In [0]:
object_type = props.select_dtypes(include=['object']).columns.values
props[object_type] = props[object_type].astype('category')

#Mudar tipo da coluna transaction date para 'datetime64' e separando a data em colunas
props['transactiondate'] = pd.to_datetime(props['transactiondate'])
props['transaction_year'] = props['transactiondate'].dt.year
props['transaction_month'] = props['transactiondate'].dt.month
props['transaction_day'] = props['transactiondate'].dt.day
props.drop(['transactiondate'], axis=1, inplace=True)

# Remoção de dados ausentes

In [0]:
#A coluna 'fireplaceflag' não adiciona nenhuma informação útil pois o dataset já possui 'fireplacecnt', então removemos:
props.drop(['fireplaceflag'], axis=1, inplace=True)

#A coluna 'calculatedbathnbr' é uma cópia da coluna 'bathroomcnt', então removemos:
props.drop(['calculatedbathnbr'], axis=1, inplace=True)

#A coluna 'calculatedfinishedsquarefeet' é uma cópia da coluna 'finishedsquarefeet12', então removemos:
props.drop(['calculatedfinishedsquarefeet'], axis=1, inplace=True)

# Remover colunas com mais de 70% de dados ausentes
props.dropna(thresh=0.70*len(props), axis=1, inplace=True)

props.dropna(inplace=True)

In [0]:
props.shape

(73972, 27)

In [0]:
props.isnull().values.any()

False

In [0]:
props.head()

   parcelid  bathroomcnt  ...  transaction_month  transaction_day
0  17073783          2.5  ...                  1               27
2  17100444          2.0  ...                  5               27
3  17102429          1.5  ...                  6                7
4  17109604          2.5  ...                  8                8
5  17125829          2.5  ...                  8               26

[5 rows x 27 columns]

# Definição de Tipos

# Normalizando dados

# Separando em conjuntos de treinamento e teste

In [0]:
X = props.drop(['logerror'],axis=1)
y = props['logerror']

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=1/3, random_state=42)

# Linear Regressor para servir como baseline

In [0]:

regressor = LinearRegression(fit_intercept=True)

model = regressor.fit(X_train, Y_train)

pred_LR = regressor.predict(X_test)

In [0]:
plt.scatter(Y_test, pred_LR)
plt.xlabel("True Values")
plt.ylabel("Predictions")

In [0]:
model.score(X_test, Y_test)

mae_LR = mean_absolute_error(Y_test, pred_LR)
print ("Erro médio absoluto: {}".format(mae_LR))

# Random Forest Regressor

In [0]:
def randomForestRegressor(X_train, Y_train):
  # Gerar conjuntos de validação-cruzada para o treinamento de dados
  cv_sets = ShuffleSplit(n_splits=10, test_size = 0.25)

  #n_estimators =10
  rfr =  RandomForestRegressor(n_estimators=10, random_state=42)

  #Gerar um dicionário para o parâmetro 'max_depth' com um alcance de 1 a 10
  params ={'max_depth': list(range(1,10))}

  #Transformar 'performance_metric' em uma função de pontuação utilizando 'make_scorer' 
  scoring_fnc = make_scorer(mean_absolute_error)

  # Gerar o objeto de busca em matriz
  grid = GridSearchCV(rfr, params, scoring=scoring_fnc, cv=cv_sets)

  # Ajustar o objeto de busca em matriz com os dados para calcular o modelo ótimo
  grid = grid.fit(X_train, Y_train)

  # Escolher o melhor estimador para predizer os dados de teste
  best_rfr = grid.best_estimator_

  predictions = best_rfr.predict(X_test)
  
  return predictions

In [0]:
predictions = randomForestRegressor(X_train, Y_train)

In [0]:
#calculando o erro de uma árvore de decisão para regressão:
mae_RFR = mean_absolute_error(Y_test, predictions)
print ("Erro médio absoluto: {}".format(mae_RFR))

#Acurácia do modelo
r2_RFR = r2_score(Y_test, predictions)
print ("Índice R²: {}".format(r2_RFR))

# Separando dataset em relação ao munícipio com mais propriedades

In [37]:
props.select_dtypes(include=['category']).columns.values

array(['propertycountylandusecode'], dtype=object)

In [0]:
props.propertycountylandusecode.dtype

CategoricalDtype(categories=['0', '010', '0100', '0101', '0102', '0103', '0104', '0108',
                  '0109', '010C', '010D', '010E', '010F', '010G', '010H',
                  '010M', '010V', '0110', '0111', '0114', '012C', '012D',
                  '012E', '0130', '0131', '01DC', '01DD', '01HC', '0200',
                  '0201', '020G', '020M', '0210', '0300', '0301', '0303',
                  '030G', '0400', '0401', '040A', '040V', '0700', '070D', '1',
                  '100V', '1011', '1012', '1014', '105', '1110', '1111',
                  '1112', '1116', '1117', '1128', '1129', '1200', '1210',
                  '122', '1222', '1310', '1321', '1333', '135', '1410', '1420',
                  '1421', '1432', '1720', '1722', '200', '34', '38', '6050',
                  '73', '8800', '96'],
                 ordered=False)

In [0]:
print (props.propertycountylandusecode.value_counts()[props.propertycountylandusecode.value_counts() >0])

In [0]:
p.propertycountylandusecode.value

In [36]:
props.propertycountylandusecode.value_counts().argmax()

'0100'

In [0]:
props_county = props[props.propertycountylandusecode == props.propertycountylandusecode.value_counts().argmax()]

In [40]:
props_county.head()

    parcelid  bathroomcnt  ...  transaction_month  transaction_day
27  10727091          2.0  ...                 10               14
28  10730788          2.0  ...                  7                1
32  10760933          2.0  ...                  6               27
33  10772282          3.0  ...                  4               15
34  10783331          2.0  ...                  2               25

[5 rows x 27 columns]